.btn{
    outline: none;
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    padding: 8px;
}


.inputText{
    width: 200px;
    height: 20px;
    border: black;
    padding: 5px;
}

.inputCost{
    width: 30px;
    height: 20px;
    border: black;
    padding: 5px;
}
